.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
  flex: 30%;
  background-color: green;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.header input {
  width: 200px;
  height: 40px;
  border: none;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid brown;
}

.header button {
  width: 80px;
  height: 40px;
  border: none;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  padding-left: 10px;
  cursor: pointer;
  margin-left: 10px; /* Add space between the button and inputs */
}

.todoList {
  flex: 70%;
  width: 100%;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo {
  width: 80%;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 5px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.todo.done {
  background-color: #d3ffd3; /* Light green background for completed tasks */
}

.checkbox {
  margin-right: 15px; /* Add space between checkbox and task name */
}

.todo h3 {
  flex-grow: 1;
  font-size: 18px;
  margin: 0;
  font-weight: bold;
}

.todo p {
  font-size: 14px;
  color: gray;
  margin: 0;
}

button {
  margin-left: 10px;
  background-color: #f5a623;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #f57c00; /* Darker orange when hovering */
}

/* Strikethrough for completed tasks */
.todo.done h3 {
  text-decoration: line-through;
  color: gray;
}

.todo.done p {
  color: darkgray;
}
